/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family:'Inter', sans-serif;
    background:linear-gradient(135deg, #0f172a, #020617);
    color:#e2e8f0;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 50px;
    background:rgba(2,6,23,0.9);

    border-bottom:1px solid #1e293b;
    backdrop-filter: blur(10px);
}

.navbar h2{
    color:#38bdf8;
    font-weight:600;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    text-decoration:none;
    color:#cbd5e1;
    font-size:14px;
    transition:0.3s;
}

.navbar a:hover{
    color:#38bdf8;
}

/* CONTAINER */
.container{
    width:90%;
    max-width:1500px;
    margin:60px auto;
    text-align: center;
    background:rgba(2,6,23,0.8);
    padding:40px;

    border-radius:15px;
    border:1px solid #1e293b;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* TITLE */
.title{
    text-align:center;
    margin-bottom:25px;
    font-size:24px;
}

/* FORMS */
.form_box{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form_box input,
textarea{
    padding:12px;
    border-radius:8px;

    border:1px solid #1e293b;
    background:#0f172a;
    color:white;

    transition:0.3s;
}

.form_box input:focus,
textarea:focus{
    border-color:#38bdf8;
    outline:none;
}

/* BUTTON */
button{
    padding:12px;
    border:none;

    background:linear-gradient(135deg, #38bdf8, #0ea5e9);
    color:black;

    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
    box-shadow:0 5px 15px rgba(56,189,248,0.4);
}

.start{
    padding:12px;
    border:none;
    background:linear-gradient(135deg, #38bdf8, #0ea5e9);
    color:black;
    margin-top: 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    width: 500px;
    transition:0.3s;
}
start:hover{
    transform:scale(1.03);
    box-shadow:0 5px 15px rgba(56,189,248,0.4);
}

/* ACTION BUTTONS */
.action_btn{
    display:inline-block;
    padding:6px 12px;
    border-radius:6px;
    font-size:12px;
    text-decoration:none;
    margin-top:10px;
    margin-right:5px;
    transition:0.3s;
}

.complete_btn{
    background:#22c55e;
    color:black;
}

.complete_btn:hover{
    background:#16a34a;
}

.delete_btn{
    background:#ef4444;
    color:white;
}

.delete_btn:hover{
    background:#dc2626;
}

.update_btn{
    background:#facc15;
    color:black;
}

.update_btn:hover{
    background:#eab308;
}

/* TASK CARD */
.task_box{
    background:#020617;
    padding:20px;
    margin-top:20px;

    border-radius:12px;
    border:1px solid #1e293b;

    transition:0.3s;
}

.task_box:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.4);
}

/* DASHBOARD GRID */
.dashboard_grid{
    width:90%;
    max-width:1100px;
    margin:40px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

/* CARD */
.card{
    background:rgba(2,6,23,0.9);
    padding:30px;

    border-radius:15px;
    border:1px solid #1e293b;

    text-align:center;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.card h3{
    margin-bottom:10px;
}

.card a{
    display:inline-block;
    margin-top:15px;
    padding:10px 15px;

    background:#38bdf8;
    color:black;

    border-radius:8px;
    text-decoration:none;
    font-weight:600;
}

.card a:hover{
    background:#0ea5e9;
}

/* IMAGE */
.task_box img{
    width:100%;
    border-radius:10px;
    margin-top:10px;
}

/* FLASH */
.flash_msg{
    color:#f87171;
    text-align:center;
    margin-top:10px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .dashboard_grid{
        grid-template-columns:1fr;
    }

    .navbar{
        flex-direction:column;
        gap:10px;
    }
}

