<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar">
        <h2>Student Learning App</h2>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('todo') }}">To-Do</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>      
            <li><a href="{{ url_for('notes') }}">Notes</a></li>
        </ul>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>