<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Learning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar">
        <h2>Student Learning App</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to Student Learning Management App</h1>
        <p>
            Manage tasks, upload notes, and share blogs in one platform.
        </p>
        <a href="{{ url_for('login') }}">
    <button class="start">Get Started</button>
</a>
    </div>

</body>
</html>